/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

p {
  text-align: justify;
  font-size: 16px;
  line-height: 22px; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #E6E6E6; }

body {
  overflow-x: hidden; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.inline {
  display: inline-block; }

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  background: white;
  position: relative; }

.header {
  padding: 30px;
  text-align: justify;
  text-justify: distribute;
  font-size: 0; }
  .header:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    margin: 0 !important;
    padding: 0 !important; }
  .header img {
    width: 100%;
    max-width: 250px;
    vertical-align: middle; }
  .header .nav {
    box-sizing: border-box; }
    @media screen and (max-width: 800px) {
      .header .nav {
        position: absolute;
        width: 100%;
        background: white;
        padding: 30px;
        text-align: center;
        z-index: 500;
        top: 0;
        left: 0; } }
    .header .nav li {
      font-size: 16px;
      display: inline-block;
      text-transform: capitalize;
      margin-left: 20px;
      vertical-align: middle;
      color: #242424;
      position: relative; }
      @media screen and (max-width: 800px) {
        .header .nav li {
          width: 100%;
          padding-bottom: 50px;
          text-align: center;
          margin: 0 auto !important; }
          .header .nav li:last-child {
            padding-bottom: 0; } }
      .header .nav li a {
        color: #646464;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out; }
        .header .nav li a:hover {
          color: black; }
    .header .nav .back {
      position: absolute;
      bottom: 0;
      z-index: 500;
      width: 50px;
      height: 50px;
      text-align: center;
      right: 0;
      left: 0;
      color: #aaaaaa;
      display: none; }
      @media screen and (max-width: 800px) {
        .header .nav .back {
          display: block; } }
  .header .nav-icon {
    display: none; }
    @media screen and (max-width: 800px) {
      .header .nav-icon {
        display: inline-block;
        vertical-align: middle; } }
    .header .nav-icon li {
      width: 30px;
      height: 3px;
      background: #86bae1;
      margin-bottom: 5px; }
      .header .nav-icon li:last-child {
        margin-bottom: 0; }

#home {
  background: url(../images/landing-bg.jpg) no-repeat center center;
  position: relative;
  padding: 150px 0 150px 0;
  background-attachment: fixed;
  background-size: cover; }
  #home .landing-box {
    position: relative;
    padding-left: 10%;
    box-sizing: border-box;
    padding-right: 10%;
    font-size: 0; }
    #home .landing-box h4 {
      font-size: 30px;
      color: white;
      text-transform: capitalize;
      margin-bottom: 20px;
      line-height: 35px; }
    #home .landing-box .tagline {
      width: 100%;
      vertical-align: top;
      font-size: 16px;
      line-height: 20px;
      color: #E6E6E6;
      max-width: 500px; }

#services {
  width: 100%; }
  #services .services-block {
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px; }
    #services .services-block .grid-item {
      display: inline-block;
      width: 100px;
      vertical-align: top;
      text-align: center;
      margin-right: 3%;
      margin-left: 3%; }
      @media screen and (max-width: 1079px) {
        #services .services-block .grid-item {
          margin-bottom: 10px; } }
      #services .services-block .grid-item img {
        width: 100px;
        margin-bottom: 30px;
        border: 2px solid #242424;
        border-radius: 100%;
        padding: 20px;
        box-sizing: border-box; }
      #services .services-block .grid-item h3 {
        font-size: 12px;
        color: #242424;
        line-height: 20px; }

.dr-one {
  background: url(../images/dr.jpg) no-repeat center center;
  background-size: cover; }

.dr-two {
  background: url(../images/dr2.jpg) no-repeat center center;
  background-size: cover; }

.dr-three {
  background: url(../images/dr3.jpg) no-repeat center center;
  background-size: cover; }

#theteam {
  font-size: 0;
  height: auto !important; }
  #theteam .member {
    font-size: 15px !important;
    display: inline-block;
    width: 33.33333333333%;
    text-align: center;
    box-sizing: border-box;
    vertical-align: top;
    position: relative; }
    #theteam .member h3 {
      font-size: 30px;
      color: #86bae1;
      margin-bottom: 30px;
      margin-top: 100px; }
    #theteam .member p {
      font-size: 13px;
      line-height: 25px;
      color: #818582;
      box-sizing: border-box;
      padding-right: 50px;
      padding-left: 50px;
      margin-bottom: 100px; }
    #theteam .member .border {
      width: 90%;
      height: 90%;
      position: absolute;
      border: 1px solid white;
      top: 50%;
      transform: translate(0, -50%);
      -webkit-transfrom: translate(0, -50%);
      -moz-transfrom: translate(0, -50%);
      -ms-transfrom: translate(0, -50%);
      margin: 0 auto;
      right: 0;
      left: 0;
      text-align: center;
      opacity: 0;
      transition: all 0.8s ease-in-out;
      -moz-transition: all 0.8s ease-in-out;
      -webkit-transition: all 0.8s ease-in-out; }
      #theteam .member .border .center-box {
        position: absolute;
        transform: translate(0, -50%);
        -webkit-transfrom: translate(0, -50%);
        -moz-transfrom: translate(0, -50%);
        -ms-transfrom: translate(0, -50%);
        top: 50%;
        width: 100%; }
        #theteam .member .border .center-box h3 {
          transition: all 1s ease-in-out;
          -moz-transition: all 1s ease-in-out;
          -webkit-transition: all 1s ease-in-out;
          opacity: 0;
          text-transform: uppercase;
          color: white; }
          #theteam .member .border .center-box h3 span {
            font-size: 14px; }
        #theteam .member .border .center-box p {
          line-height: 15px;
          color: white; }
    #theteam .member:hover .border {
      opacity: 1; }
      #theteam .member:hover .border h3 {
        opacity: 1; }
    #theteam .member:hover .member-img:after {
      background: rgba(0, 0, 0, 0.8);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: ''; }
    #theteam .member .dr-one {
      background: url(../images/dr.jpg) no-repeat left center;
      background-size: cover; }
    #theteam .member .dr-two {
      background: url(../images/dr2.jpg) no-repeat center center;
      background-size: cover; }
    #theteam .member .dr-three {
      background: url(../images/dr3.jpg) no-repeat right center;
      background-size: cover; }
    #theteam .member .dr-four {
      background: url(../images/dr4.jpg) no-repeat right center;
      background-size: cover; }
    #theteam .member .dr-five {
      background: url(../images/dr5.jpg) no-repeat left center;
      background-size: cover; }
    #theteam .member .dr-six {
      background: url(../images/dr6.jpg) no-repeat right center;
      background-size: cover; }
    #theteam .member .member-img {
      width: 100%;
      height: 500px;
      position: relative; }
      #theteam .member .member-img:after {
        background: transparent;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out; }

#contact {
  width: 100%;
  padding: 100px 0 100px 0;
  background: url(../images/map.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  height: auto !important; }
  #contact:after {
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #86bae1;
    opacity: .8; }
  #contact .contact-info {
    width: 80%;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 0;
    font-size: 16px;
    position: relative;
    color: white;
    z-index: 10; }
    @media screen and (max-width: 800px) {
      #contact .contact-info {
        width: 100%; } }
    #contact .contact-info h2 {
      font-size: 30px;
      color: white;
      text-transform: capitalize;
      margin-bottom: 10px;
      padding-bottom: 10px;
      line-height: 35px;
      border-bottom: 1px solid white;
      display: inline-block; }
    #contact .contact-info .address {
      font-size: 13px; }

.footer {
  background: #3A5161;
  padding: 20px 0 20px 0;
  color: white; }
  .footer a {
    color: white;
    text-decoration: none; }
  .footer p {
    text-align: center; }

/*# sourceMappingURL=main.css.map */
