@charset "UTF-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

$orange: #f0b698;
$gray: #242424;
$lt-gray: #E6E6E6;
$blue: #86bae1;
$text-gray: #aaaaaa;

@mixin ease($time){
  transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -webkit-transition: all $time ease-in-out;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}


ol, ul {
  list-style: none;
}

p {
  text-align: justify;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}


q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}


a img {
  border: none;
}


article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}


body, html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow-x: hidden;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.inline {
  display: inline-block;
}

.side-bar {
  width: 30%;
  height: 100%;
  text-align: center;
  background: $gray;
  position: fixed;
  right: 0;
  background: url(../images/right1.jpg) no-repeat center center;
  z-index: 500;
  .nav-icons {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    margin-left: -40px;
    z-index: 500;
    div {
      background: $lt-gray;
      margin: 10px;
      border-radius: 10px;
      width: 10px;
      height: 10px;
      transition: all 0.2s ease-in-out;
    }
  }
}

.nav-active {
  background: $blue !important;
}


.nav-wrapper {
  background: white;
  z-index: 500;
  width: 100%;
  position: fixed;
  .nav-icon {
    position: fixed;
    left: 0;
    top: 0;
    list-style: none;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding-left: 2%;
    padding-top: 2%;
    li {
      width: 40px;
      height: 2px;
      background: #555;
      margin: 5px;
    }
  }
}

.nav {
  position: fixed;
  top: 0;
  left:0;
  margin-left: 2%;
  margin-top: 2%;
  z-index: 500;
  li {
    text-transform: capitalize;
    margin-right: 20px;
    display: inline-block;
      &:after {
      position: absolute;
      height: 3px;
      background: $blue;
      content: '';
      left: 0;
      margin-bottom: -5px;
      bottom: 0;
    }
    a {
      text-decoration: none;
      color: $text-gray;
    }
  }
}

.nav-item-active {
  position: relative;
  @include ease(0.3s);
  &:after {
    position: absolute;
    width: 100%;
    height: 3px;
    background: $blue;
    content: '';
    left: 0;
    margin-bottom: -5px;
    bottom: 0;
  @include ease(0.3s);

  }
  a {
    color: black !important;
  @include ease(0.3s);

  }
}


.wrapper {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-right: 30%;
  .content-box {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .landing-box {
    position: absolute;
    right: 0;
    left: 0;
    text-align: left;
    top: 50%;
    transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    width: 80%;
    min-width: 200px;
    margin-left: 5%;
    img {
      width: 100%;
      max-width: 150px;
      margin-bottom: 30px;
    }
    .tagline {
      h4 {
        color: $gray;
        font-size: 60px;
        text-transform: capitalize;
        font-weight: 300;
        letter-spacing: 1px;
        padding-bottom: 20px;
        font-family: serif;
      }
      p {
        color: $text-gray;
        line-height: 25px;
        font-size: 15px;
        max-width: 800px;
      }
    }
  }
}

#home {
  .home-bg {
    background: url(../images/landing-bg.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
}


#services {
  font-size: 0;

  .services-block {
    font-size: 15px;
    width: 100%;
    vertical-align: middle;
    height: 100%;
    color: white;
    .services-grid {
      width: 100%;
      height: 100%;
      font-size: 0;
      margin-top: 1px;
      .grid-item {
        box-sizing: border-box;
        border: 2px solid $lt-gray;
        width: 46%;
        margin: 1%;
        height: 30.333333%;
        display: inline-block;
        font-size: 15px;
        position: relative;
        background: $lt-gray;
        &:nth-child(2n+1) {
          margin-left: 2%;
        }
        color: $gray;
        @include ease(0.5s);
        &:hover {
          transform: scale(1.03);
          box-shadow: 0px 0px 20px rgba(0,0,0,.5);
        }
        .service-info{
          position: absolute;
          margin: 0 auto;
          text-align: center;
          right: 0;
          left: 0;
          top: 50%;
          transform: translate(0,-50%);
          -moz-transform: translate(0,-50%);
          -webkit-transform: translate(0,-50%);
          -ms-transform: translate(0,-50%);
          h3 {
            font-size: 20px;
            font-weight: 300;
            text-transform: uppercase;
          }
          img {
            width: 50px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

#theteam {
  font-size: 0;
  margin: 2% 0 2% 0;
  height: auto !important;
  .member {
    font-size: 15px !important;
    display: inline-block;
    width: 30%;
    margin: 1%;
    text-align: center;
    box-sizing: border-box;
    vertical-align: top;
    border: solid 1px $lt-gray;
    &:first-child{
      margin-left: 2%;
    }

    h3 {
        font-size: 30px;
        color: $blue;
        margin-bottom: 30px;
        margin-top: 100px;
      }
      p {
        font-size: 13px;
        line-height: 25px;
        color: #818582;
        box-sizing: border-box;
        padding-right: 50px;
        padding-left: 50px;
        margin-bottom: 100px;
      }
    .dr-one {
      background: url(../images/dr.jpg) no-repeat center center;
      background-size: cover;
    }
    .dr-two {
      background: url(../images/dr2.jpg) no-repeat center center;
      background-size: cover;
    }
    .dr-three {
      background: url(../images/dr3.jpg) no-repeat center center;
      background-size: cover;
    }

    .member-img {
      width: 100%;
      height: 300px;
    }
  }
}

#contact {
  text-align: center;
  font-size: 0;
  margin-bottom: 5%;
  .left-contact-col {
      width: 47%;
      margin: 1% 1% 1% 2%;
      height: 100%;
      background: url(../images/map.jpg) no-repeat center center;
      background-size: cover;
      vertical-align: middle;
      border: 2px solid $lt-gray;
      box-sizing: border-box;
      
    }
    .right-contact-col {
      width: 45%; 
      margin: 1% 4% 1% 1%;
      vertical-align: middle;
       border: 1px solid $lt-gray;
      box-sizing: border-box;
      p {
        margin: 0 auto;
        max-width: 500px;
      }
    }
      h2 {
        font-size: 40px;
        color: $gray;
        text-transform: capitalize;
        padding: 50px;
      }
      p {
        font-size: 13px;
        line-height: 25px;
        color: #818582;
        box-sizing: border-box;
        padding-right: 50px;
        padding-left: 50px;
      }
      .center {
        text-align: center;
        font-size: 13px;
        line-height: 25px;
        color: #818582;
        box-sizing: border-box;
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 50px;
      }
  
}

.footer {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  color: white;
  background: $blue;
  a {
    color: white;
  }
}
