@charset "UTF-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

$orange: #f0b698;
$gray: #242424;
$lt-gray: #E6E6E6;
$blue: #86bae1;
$text-gray: #aaaaaa;

@mixin ease($time){
  transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -webkit-transition: all $time ease-in-out;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}


ol, ul {
  list-style: none;
}

p {
  text-align: justify;
  font-size: 16px;
  line-height: 22px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}


q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}


a img {
  border: none;
}


article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}


body, html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: $lt-gray;
}

body {
  overflow-x: hidden;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.inline {
  display: inline-block;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  background: white;
  position: relative;
}

.header {
  padding: 30px;
  text-align: justify;
  text-justify: distribute;
  font-size: 0;
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0 !important;
    font-size:0 !important;
    line-height:0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
  }
  .nav {
    box-sizing: border-box;
    @media screen and (max-width: 800px){
      position: absolute;
      width: 100%;  
      background: white;
      padding: 30px;
      text-align: center;
      z-index: 500;
      top: 0;
      left:0;
    }
    li {
      font-size: 16px;
      display: inline-block;  
      text-transform: capitalize;
      margin-left: 20px;
      vertical-align: middle;
      color: $gray;
      position: relative;
       @media screen and (max-width: 800px){
          width: 100%;  
          padding-bottom: 50px;
          text-align: center;
          margin: 0 auto !important;
          &:last-child{
            padding-bottom: 0;
          }
      }
      a {
        color: rgba(100,100,100,1);
        text-decoration: none;
        @include ease(0.3s);
        &:hover {
          color: black;
        }
      }
    }

    .back {
        position: absolute;
        bottom: 0;
        z-index: 500;
        width: 50px;
        height: 50px;
        text-align: center;
        right: 0;
        left:0;
        color: $text-gray;
        display: none;
        @media screen and (max-width: 800px){
          display: block;
        }
      }
  }
  .nav-icon {
    display: none;
    @media screen and (max-width: 800px){
      display: inline-block;
      vertical-align: middle;
    }
    li {
      width: 30px;
      height: 3px;
      background: $blue;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

#home {
  background: url(../images/landing-bg.jpg) no-repeat center center;
  position: relative;
  padding: 150px 0 150px 0;
  background-attachment: fixed;
  background-size: cover;

  .landing-box {
    position: relative;
    padding-left: 10%;
    box-sizing: border-box;
    padding-right: 10%;
    font-size: 0;
    h4 {
      font-size: 30px;
      color: white;
      text-transform: capitalize;
      margin-bottom: 20px;
      line-height: 35px;
    }
    .tagline {
      width: 100%;
      vertical-align: top;
      font-size: 16px;
      line-height: 20px;
      color: $lt-gray;
      max-width: 500px;
    }
  }
}

#services {
  width: 100%;
  .services-block {
    margin: 0 auto;
    text-align:center;
    padding-top: 100px;
    padding-bottom: 100px;
    .grid-item {
       display: inline-block;
       width: 100px;
       vertical-align: top;
       text-align: center;
       margin-right: 3%;
       margin-left: 3%;
       @media screen and (max-width: 1079px){
        margin-bottom: 10px;
       }
       img {
        margin-bottom: 30px;
       }
       h3 {
        font-size: 12px;
        color: $gray;
        line-height: 20px;
       }
    }
  }
}

    .dr-one {
      background: url(../images/dr.jpg) no-repeat center center;

      background-size: cover;


    }
    .dr-two {
      background: url(../images/dr2.jpg) no-repeat center center;

      background-size: cover;



    }
    .dr-three {
      background: url(../images/dr3.jpg) no-repeat center center;

      background-size: cover;


    }

#theteam {
  .member {
    width: 100%;
    font-size: 0;
    .member-img {
      width: 50%;
      vertical-align: middle;
      height: 500px;
      @media screen and (max-width: 800px){
        width: 100%;
      }
    }
    .member-info {
      width: 50%;
      vertical-align: middle;
      box-sizing: border-box;
      padding: 5%;
      font-size: 16px;
      @media screen and (max-width: 800px){
        width: 100%;
      }
      h3 {
        font-size: 25px;
        font-weight: 400;
        border-bottom: 1px solid $lt-gray;
        padding-bottom: 10px; 
        margin-bottom: 10px;
        display: inline-block;
      }
      p {
        color: $text-gray;
        font-weight: 300;
      }
    }
  }
}

#contact {
  width: 100%;
  padding: 100px 0 100px 0;
  background: url(../images/map.jpg) no-repeat center center;
  background-size: cover; 
  position: relative;
  height: auto !important;
  &:after {
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    background: rgba(230,162,160,.8);
  }
  .contact-info {
    width: 80%;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 0;
    font-size: 16px;
    position: relative;
    color: white;
    z-index: 10;
    @media screen and (max-width: 800px){
        width: 100%;
      }
    h2 {
      font-size: 30px;
      color: white;
      text-transform: capitalize;
      margin-bottom: 10px;
      padding-bottom: 10px;
      line-height: 35px;
      border-bottom: 1px solid white;
      display: inline-block;
    }
    .address {
      font-size: 13px;
    }
    p {

    }
  }
}

.footer {
  background: #3A5161;
  padding: 20px 0 20px 0;
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
  p {
    text-align: center;
  }
}

