@charset "UTF-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

$orange: #f48c56;
$gray: #242424;
$lt-gray: #E6E6E6;
$blue: #86bae1;
$dk-blue: #303e48;

@mixin ease($time){
  transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -webkit-transition: all $time ease-in-out;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}


ol, ul {
  list-style: none;
}

p {
  text-align: justify;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}


q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}


a img {
  border: none;
}


article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}


body, html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow-x: hidden;
}

.limiter {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  @media screen and (max-width: 1000px){
    box-sizing: border-box;
    padding: 0 20px 0 20px;
  }
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.inline {
  display: inline-block;
}

.header-limiter {
  width: 100%;
  background: white;
  position: fixed;
  margin: 0 auto;
  text-align: center;
  z-index: 500000;
  top: 0;
  .header {
    width: 100%;
    max-width: 1000px;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    position: relative;
    text-align: justify;
    text-justify: distribute;
    font-size: 0;
    z-index: 500;
    right:0;
    margin: 0 auto;
    left: 0;
    top: 0;
    &:after {
      width: 100%;
      display: inline-block;
      content: '';
    }
    .header-logo {
      vertical-align: middle;
    }
    img {
      width: 100%;
      max-width: 250px;
    }
    .nav {
      font-size: 15px;
      vertical-align: middle;
       @media screen and (max-width: 800px){
      position: absolute;
      width: 100%;  
      background: white;
      padding: 30px;
      text-align: center;
      z-index: 500;
      top: 0;
      left:0;
      box-sizing: border-box;
    }
      ul {
        li {
          margin: 20px;
          display: inline-block;
          @media screen and (max-width: 800px){
            width: 100%;
            margin: 0 0 40px 0;
          }
          a {
            text-decoration: none;
            color: $gray;
            text-transform: uppercase;
            font-weight: 700;
            padding: 5px;
            &:hover {
              color: orange;
            }
          }
        }
        .back {
            position: absolute;
            bottom: 0;
            z-index: 500;
            text-align: center;
            right: 0;
            left:0;
            display: none;
            margin: 0 auto 10px auto;
            font-size: 12px;
            @media screen and (max-width: 800px){
              display: block;
            }
          }
      }
    }

    .nav-icon {
    display: none;
    @media screen and (max-width: 800px){
      display: inline-block;
      vertical-align: middle;
    }
    li {
      width: 30px;
      height: 3px;
      background: $blue;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  }
}



.nav-active {
  a {
    position: relative;
    color: $blue !important;
  }
}

.wrapper {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  .content-box {
    width: 100%;
    position: relative;
  }
  .center-box {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    transform: translate(0,-50%);
    -webkit-transfrom: translate(0,-50%);
    -moz-transfrom: translate(0,-50%);
    -ms-transfrom: translate(0,-50%);
    max-width: 800px;
    width: 30%;
    min-width: 200px;
    img {
      width: 100%;
      margin-bottom: 30px;
    }
    .tagline {
      h4 {
        color: rgba(200,200,200,1);
        font-size: 30px;
        text-transform: capitalize;
        font-weight: 300;
        letter-spacing: 1px;
      }
    }
  }
}

#home {
  .home-bg {
    background: url(../images/landing-bg.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
}


#services {
  width: 100%;
  .services-block {
    margin: 0 auto;
    text-align:center;
    padding-top: 50px;
    padding-bottom: 50px;
    h2 {
      font-size: 60px;
      text-transform: uppercase;
      margin-bottom: 50px;
      color: $gray;
      font-weight: 700;
    }
    .grid-item {
       display: inline-block;
       width: 150px;
       vertical-align: top;
       text-align: center;
       margin-right: 1%;
       margin-left: 1%;
       @media screen and (max-width: 1079px){
        margin-bottom: 10px;
       }
       img {
        margin-bottom: 30px;
        border-bottom: 1px solid $gray;
        padding-bottom: 20px;
       }
       h3 {
        font-size: 15px;
        color: $gray;
        line-height: 20px;
        font-weight: 700;
       }
    }
  }
}

#theteam {
  font-size: 0;
  height: auto !important;
  background: $lt-gray;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  .limiter {
    text-align: justify;
    text-justify: distribute;
     &:after {
      width: 100%;
      content: '';
      display: inline-block;
    }
  }
  h2 {
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-weight: 700;
  }
  .member {
    font-size: 15px !important;
    display: inline-block;
    width: 48%;
    text-align: center;
    box-sizing: border-box;
    vertical-align: top;
    position: relative;
    margin-bottom: 50px;
    background: white;
    text-align: left;
    border-bottom: 5px solid #303e48;
    @media screen and (max-width: 800px){
      width: 100%;
    }
    h3 {
      padding: 30px 20px 30px 20px;
      text-transform: capitalize;
      font-size: 25px;
      font-weight: 700;
    }
    p {
      padding: 20px;
      line-height: 23px;
    }
    .dr-one {
      background: url(../images/dr.jpg) no-repeat center top;
      background-size: cover;
    }
    .dr-two {
      background: url(../images/dr2.jpg) no-repeat center top;
      background-size: cover;
    }
    .dr-three {
      background: url(../images/dr3.jpg) no-repeat center top;
      background-size: cover;
    }
    .dr-four {
      background: url(../images/dr4.jpg) no-repeat center top;
      background-size: cover;
    }
    .dr-five {
      background: url(../images/dr5.jpg) no-repeat center top;
      background-size: cover;
    }
    .dr-six {
      background: url(../images/dr6.jpg) no-repeat center top;
      background-size: cover;
    }

    .member-img {
      width: 100%;
      height: 300px;
    }
  }
}

#contact {
  text-align: center;
  font-size: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  h2 {
    font-weight: 700;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 60px;
  }
  .contact-two-col {
    font-size: 0;
    .c-col {
      .border-bottom {
        border-bottom: 2px solid $gray;
        margin-right: 20px;
      }
      p {
        padding-right: 20px;
        text-align: left; 
        padding-bottom: 20px;
        &:last-child {
          padding-top: 20px;
          padding-bottom: 0;
        }
        span {
          font-size: 30px;
        }
      }
      font-size: 16px;
      width: 50%;
      vertical-align: top;
      @media screen and (max-width: 800px){
        width: 100%;
        margin-bottom: 20px;
      }
      #map {
        width: 100%;
        height: 100%;
       height: 400px;

      }
    }
  }
}

.footer {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  color: white;
  background: $blue;
  a {
    color: white;
  }
}


