@charset "UTF-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

$orange: #f48c56;
$gray: #242424;
$lt-gray: #E6E6E6;
$blue: #86bae1;

@mixin ease($time){
  transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -webkit-transition: all $time ease-in-out;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}


ol, ul {
  list-style: none;
}

p {
  text-align: justify;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}


q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}


a img {
  border: none;
}


article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}


body, html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow-x: hidden;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.inline {
  display: inline-block;
}

.side-bar {
  width: 150px;
  height: 100%;
  text-align: center;
  background: $gray;
  position: fixed;
  .header-logo {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    margin-top: 20px;
    top: 0;
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
  }
  img {
    width: 80%;
  }
  .nav {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    transform: translate(0,-50%);
    -webkit-transfrom: translate(0,-50%);
    -moz-transfrom: translate(0,-50%);
    -ms-transfrom: translate(0,-50%);
    right: 0;
    left: 0;
    ul {
      li {
        margin: 20px;
        a {
          background: $gray;
          text-decoration: none;
          color: white;
          text-transform: capitalize;
          font-weight: 300;
          padding: 5px;
          &:hover {
            color: orange;
          }
        }
      }
    }
  }
}

.nav-active {
  a {
    font-weight: 400 !important;
    position: relative;
    background: $gray;
    &:after {
      height: 2px;
      width: 130%;
      left: 0;
      right: 0;
      top: 50%;
      margin-left: -15%;
      padding:0;

      content: '';
      position: absolute;
      background: $blue;
      z-index: -1
    }
  }
}

.wrapper {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-left: 150px;
  .content-box {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .center-box {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    transform: translate(0,-50%);
    -webkit-transfrom: translate(0,-50%);
    -moz-transfrom: translate(0,-50%);
    -ms-transfrom: translate(0,-50%);
    max-width: 800px;
    width: 30%;
    min-width: 200px;
    img {
      width: 100%;
      margin-bottom: 30px;
    }
    .tagline {
      h4 {
        color: rgba(200,200,200,1);
        font-size: 30px;
        text-transform: capitalize;
        font-weight: 300;
        letter-spacing: 1px;
      }
    }
  }
}

#home {
  .home-bg {
    background: url(../images/landing-bg.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
}


#services {
  font-size: 0;
  .left-block {
    font-size: 15px;
    width: 50%;
    position: relative;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    .item {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      margin: 0 auto;
      text-align: center;
      transform: translate(0,-50%);
      -webkit-transfrom: translate(0,-50%);
      -moz-transfrom: translate(0,-50%);
      -ms-transfrom: translate(0,-50%);
      
      box-sizing: border-box;
      padding: 50px;
      max-width: 500px;
      opacity: 0;
      z-index: -50;
      margin-top: 100px;
      width: 100%;
      @include ease(0.5s);
      h3 {
        font-size: 30px;
        color: $gray;
        margin-bottom: 20px;
      }
      img {
        width: 50px;
        margin-bottom: 20px;
      }
      p {
        font-size: 13px;
        line-height: 25px;
        color: #818582;
      }
    }
  }
  .service-active {
    margin-top: 0px !important;
     opacity: 1 !important;
      z-index: 100  !important;
  }
  .service-btn-active {
    background: $gray !important;
  }


  .right-block {
    font-size: 15px;
    width: 50%;
    vertical-align: middle;
    height: 100%;
    color: white;
    .services-grid {
      width: 100%;
      height: 100%;
      font-size: 0;
      margin-top: 1px;
      .grid-item {
        box-sizing: border-box;
        border: 2px solid white;
        width: 50%;
        height: 33.3333333333%;
        display: inline-block;
        font-size: 15px;
        position: relative;
        background: $orange;
        @include ease(0.5s);
        &:hover {
          transform: scale(1.03);
          z-index: 9999999;
          box-shadow: 0px 0px 20px rgba(0,0,0,.5);
        }
        .service-info{
          position: absolute;
          margin: 0 auto;
          text-align: center;
          right: 0;
          left: 0;
          top: 50%;
          transform: translate(0,-50%);
          -webkit-transfrom: translate(0,-50%);
          -moz-transfrom: translate(0,-50%);
          -ms-transfrom: translate(0,-50%);
          h3 {
            font-size: 20px;
            font-weight: 300;
            text-transform: uppercase;
          }
          img {
            width: 50px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

#theteam {
  font-size: 0;
  margin-top: 1px;
  height: auto !important;
  .member {
    font-size: 15px !important;
    display: inline-block;
    width: 33.33333333333%;
    border: solid 2px white;
    text-align: center;
    box-sizing: border-box;
    vertical-align: top;
    h3 {
        font-size: 30px;
        color: $blue;
        margin-bottom: 30px;
        margin-top: 100px;
      }
      p {
        font-size: 13px;
        line-height: 25px;
        color: #818582;
        box-sizing: border-box;
        padding-right: 50px;
        padding-left: 50px;
        margin-bottom: 100px;
      }
    .dr-one {
      background: url(../images/dr.jpg) no-repeat center center;
      background-size: cover;
    }
    .dr-two {
      background: url(../images/dr2.jpg) no-repeat center center;
      background-size: cover;
    }
    .dr-three {
      background: url(../images/dr3.jpg) no-repeat center center;
      background-size: cover;
    }

    .member-img {
      width: 100%;
      height: 500px;
    }
  }
}

#contact {
  background: rgba(230,230,230,.5);
  text-align: center;
  border: 2px solid white;
  font-size: 0;
    .left-contact-col {
      width: 50%;
      height: 100%;
      background: url(../images/map.jpg) no-repeat center center;
      background-size: cover;
      vertical-align: middle;

    }
    .right-contact-col {
      width: 50%; 
      vertical-align: middle;
      p {
        margin: 0 auto;
        max-width: 500px;
      }
    }
      h2 {
        font-size: 40px;
        color: $gray;
        text-transform: capitalize;
        padding: 50px;
      }
      p {
        font-size: 13px;
        line-height: 25px;
        color: #818582;
        box-sizing: border-box;
        padding-right: 50px;
        padding-left: 50px;
      }
      .center {
        text-align: center;
        font-size: 13px;
        line-height: 25px;
        color: #818582;
        box-sizing: border-box;
        padding-right: 50px;
        padding-left: 50px;
      }
  
}

.footer {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  color: white;
  background: $blue;
  a {
    color: white;
  }
}
